.intro__list {
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    margin-top: 33px;
    padding: 0px;
    color: #FFFFFF;
     
}