
.cover {
  margin: 12px auto 0 auto;
  padding: 0 48px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    max-width: 1024px;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    max-width: 768px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 100%;
    max-width: 100%;
    margin-top: 16px;
  }
}