.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1184px;
    min-height: 42px;
    margin: 92px auto 0px auto;
    justify-content: space-between;
}


@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        margin-top: 64px;
        margin-left: 16px;
        height: 100%;
        padding-bottom: 24px;
    }
}